.listItem{
    background-color: greenyellow;

}
.list {
    display: inline-block;
    margin-top: 1rem;
  /* text-align: center; */
  /* align-self: flex-start; */
  width: 50%;
    
  }
  .me{
    list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.3rem;
  border: 1px solid rgb(106, 103, 103);
  margin: 0.4rem 0;
  padding: 0.4rem;
  overflow: hidden;
  background-color: pink;
}
.btns{
    margin: 4px 4px;
}
.listName{
    width: 5rem;
  overflow: hidden;
  padding: 0 0.4rem;

}

